@import 'fonts/fonts'
@import "animate-css/animate"

*
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  text-rendering: geometricPrecision
  box-sizing: border-box

html, body
  width: 100%

body
  height: 100%
  font-family: "asapregular", sans-serif

application-view
  display: block

application-view.hide
  overflow-x: hidden
  height: 100%

application-menu
  nav
    .button
      position: absolute
      right: 5%
      top: 5%
      color: #ffffff
      font-family: "asapmedium", sans-serif
      text-decoration: none
      font-size: 1.3em
      z-index: 2

      i
        padding-right: 5px

    .menu.hidden
      display: none

    .menu.show
      animation: showMenu 250ms
      animation-fill-mode: forwards

      @keyframes showMenu
        0%
          top: -100%
          opacity: 0
        100%
          top: 0
          opacity: 1

    .menu.hide
      animation: hideMenu 250ms
      animation-fill-mode: forwards

      @keyframes hideMenu
        0%
          top: 0
          opacity: 1
        100%
          top: -100%
          opacity: 0

    .menu
      opacity: 0
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      background: url("images/holi.jpg")
      background-size: cover
      width: 100%
      min-height: 100%
      text-align: center
      z-index: 1

      .darken
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: #000000
        opacity: 0.3
        position: fixed
        z-index: 0

      .container
        z-index: 1
        width: 25%

        h2
          font-size: 1.3em
          color: #ffffff

        ul
          list-style-type: none
          padding-top: 25px
          padding-bottom: 25px
          width: 100%

          li
            width: 100%

            a
              display: block
              text-decoration: none
              color: #ffffff
              font-size: 2.5em
              font-family: "asapmedium", sans-serif
              border-radius: 5px
              padding: 10px
              width: 100%

              &:hover
                background: rgba(0,0,0,0.5)

        ul.share

          li
            display: inline-block
            width: auto

            a
              &:hover
                background: 0
section.hero
  display: flex
  align-items: center
  justify-content: center
  background: url("images/hero.jpg")
  background-size: cover
  width: 100%
  height: 100%
  min-height: 500px
  max-height: 800px


  .container

    .logo

      h1
        font-family: "levirebrushedregular", sans-serif
        color: #ffffff
        font-size: 5.4em
        transform: rotate(-4deg)

      .brush
        background: url("graphics/brush.png")
        background-size: 100%
        margin-top: -10px
        padding: 10px

    p
      margin-top: 25px
      color: #ffffff
      font-size: 1.8em
      text-align: center
      font-family: "asapmedium", sans-serif

    .arrow-container
      display: block
      text-align: center
      width: 100%
      padding-top: 50px

      p
        text-transform: uppercase
        font-size: 1em
        padding-bottom: 10px

section.intro
  padding-top: 50px
  padding-bottom: 50px

  .container
    width: 95%
    margin: 0 auto

    .heading
      h1
        color: #F6014A
        font-size: 1.7em
        font-family: "asapmedium", sans-serif

      h2
        color: #F6014A
        font-size: 1.4em
        font-family: "asapregular", sans-serif

    .primary
      padding-top: 50px
      display: flex

      .body
        flex: 0 0 50%

      .headline
        flex: 0 0 50%
        margin-left: 20px
        overflow: hidden
        display: block
        position: relative

        .scroll-container
          height: 100%
          position: absolute

          primary-body-headline
            color: #F6014A
            font-size: 1.9em
            font-family: "asapmedium", sans-serif

section.people
  background: url("graphics/texture.png")

  .heading
    padding-top: 25px
    padding-bottom: 25px
    text-align: center
    color: #ffffff
    font-size: 1.3em

  .carousel
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    overflow-x: hidden

    .carousel-container
      height: 650px
      max-width: 1100px
      width: 100%
      position: relative

      .carousel-item
        opacity: 0
        height: 100%
        width: 100%
        position: absolute
        background-size: cover
        border-radius: 5px

        .primary
          position: absolute
          display: flex
          justify-content: center
          align-items: center
          width: 100%
          left: 0
          background: rgba(168,37,77, 0.8)
          color: #ffffff
          bottom: 0px
          padding: 25px

          .row-1
            flex: 0 0 70%

            .headline
              font-size: 1.8em
              text-transform: uppercase
              padding-bottom: 15px
              font-family: "asapmedium", sans-serif

          .row-2
            flex: 0 0 30%
            text-align: center

            .country
              font-family: "asapmedium", sans-serif
              text-transform: uppercase
              font-size: 1.4em



        &.active
          opacity: 1
          z-index: 3

        &.transitionOutLeft
          animation: carouselTransitionOutLeft 250ms
          animation-fill-mode: forwards

          @keyframes carouselTransitionOutLeft
            0%
              transform: translateX(0%)
              opacity: 1
            100%
              transform: translateX(-100%)
              opacity: 0

      .carousel-item.transitionOutRight
        animation: carouselTransitionOutRight 250ms
        animation-fill-mode: forwards

        @keyframes carouselTransitionOutRight
          0%
            transform: translateX(0%)
            opacity: 1
          100%
            transform: translateX(100%)
            opacity: 0

      .carousel-item.transitionInLeft
        animation: carouselTransitionInLeft 250ms
        animation-fill-mode: forwards

        @keyframes carouselTransitionInLeft
          0%
            transform: translateX(-100%)
            opacity: 0
          100%
            transform: translateX(0%)
            opacity: 1

      .carousel-item.transitionInRight
        animation: carouselTransitionInRight 250ms
        animation-fill-mode: forwards

        @keyframes carouselTransitionInRight
          0%
            transform: translateX(100%)
            opacity: 0
          100%
            transform: translateX(0%)
            opacity: 1

    .arrow-navigation
      display: flex
      align-items: center
      height: 45px
      width: 45px
      border: 3px solid #ffffff
      border-radius: 50%
      z-index: 4
      transition: opacity 250ms

      img
        width: 12px
        margin: 0 auto
        padding-left: 2px

      &.back
        margin-right: 25px
        transform: rotate(180deg)

      &.next
        margin-left: 25px

      &.disabled
        opacity: 0.5

  .navigation
    display: block
    width: 100%
    padding-top: 25px
    padding-bottom: 25px
    text-align: center

    .dot
      display: inline-block
      width: 15px
      height: 15px
      border: 2px solid #ffffff
      background: #ffffff
      border-radius: 50%
      margin-left: 10px

      &:first-child
        margin-left: 0px

    .dot.active
      background: 0
      transition: background 250ms

section.events
  padding-top: 25px
  padding-bottom: 25px

  .heading
    color: #F6014A
    text-align: center
    font-size: 1.3em
    
section.supporter
  background: url("images/holi.jpg")
  background-size: cover
  background-position: bottom center
  min-height: 800px