<application-page class="indexView" ng-controller="indexController">

    <section class="hero">

        <div class="container">

            <div class="logo">

                <h1>STRIVE</h1>
                <h1 class="brush">FORWARDS</h1>

            </div>

            <p>EQUAL RIGHTS FOR LGBT PEOPLE</p>

            <arrow-container class="arrow-container"></arrow-container>

        </div>

    </section>

    <section class="intro">

        <div class="container">

            <section class="heading">

                <h1>IT IS A CRIME TO BE GAY IN 76 COUNTRIES</h1>
                <h2>IN 0 COUNTRIES LGBT PEOPLE ARE TREATED EQUALLY</h2>

            </section>

            <section class="primary">

                <div class="body">

                    <p>For LGBT people a day may be filled with joy, happiness, sadness or anything inbetween, this isn’t the problem, the problem is the daily inequality a LGBT person may meet. Such as not being able to go outside with their partner without risking getting imprisoned or get married to whom they love.
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/><br/>
                        <br/><br/>
                        <br/>
                        <br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/>
                        v<br/>
                        <br/><br/>
                        <br/>










                        Inequality is a serious issue arround the world whetever it be about gender, sexuality, functionality or anything else.
<br/>
                        To solve the problems of inequality we must work together to make sure people of all kinds are able to take place in society!
<br/>
                        We want you to turn the lights on for LGBT people around the world by spreading love!
                    </p>

                </div>

                <div class="headline">

                    <div class="scroll-container" spark-scroll-animate="{
                                'topCenter': { top: '0%', marginTop: '0px' },
                                'bottomCenter': { top: '100%', marginTop: primaryBodyHeadlineHeight }
                            }">

                        <primary-body-headline>OUR WORLD IS A DARK PLACE LET'S TURN THE LIGHTS ON</primary-body-headline>

                    </div>

                </div>

            </section>

        </div>

    </section>

    <section class="people">

        <div class="heading" style="height: 3000px">

            <h1>PEOPLE WHO TURNED THE LIGHTS ON IN THE PAST</h1>

        </div>

        <div class="carousel">

            <img src="{{ carouselImage }}" alt="{{ carouselImageCaption }}" />

            <div class="primary">

                <h1 class="headline">{{ carouselHeadline }}</h1>

                <p class="caption">{{ carouselCaption }}</p>

                <p class="country">{{ carouselCountry }}</p>

                <nav>

                    <a href="#" class="back"><i class="back-icon"></i></a>
                    <a href="#" class="next"><i class="next-icon"></i></a>

                </nav>

            </div>

            <div class="navigation">

                <a href="#" class="dot"><i class="dot-icon"></i></a>
                <a href="#" class="dot"><i class="dot-icon"></i></a>
                <a href="#" class="dot"><i class="dot-icon-activated"></i></a>
                <a href="#" class="dot"><i class="dot-icon"></i></a>
                <a href="#" class="dot"><i class="dot-icon"></i></a>

            </div>

        </div>

    </section>

    <section class="events">

        <div class="heading">

            <h1>EVENTS OF IMPORTANCE</h1>

        </div>

    </section>

    <section class="supporter">

        <h1>THE TIME HAS COME FOR EQUAL RIGHTS BECOME A SUPPORTER!</h1>
        <p>We want you! to become a supporter for equal rights within your community, an advoqate for change. Communities all over the world needs people who stand shoulder to shoulder questioning the ones who use their power to abuse.

            We created an anonymous and secure service to help you find people with same goals as you, just select your location and click connect.</p>

        <i class="icon-heart"></i> <i class="icon-logo"></i>

    </section>

    <section class="footer">

        <p>A Hyper Island Creative Task by <a href="https://www.sampetterson.com">Sam Pettersson</a>.</p>

    </section>

</application-page>
