<application-page class="indexView" ng-controller="indexController">

    <section class="hero" id="hero">

        <div class="container" spark-scroll-animate="{
                                'bottomCenter': { marginTop: '0px' },
                                'bottomTop': { marginTop: '-100px' }
                            }">

            <div class="logo">

                <h1>STRIVE</h1>
                <h1 class="brush">FORWARDS</h1>

            </div>

            <p>EQUAL RIGHTS FOR LGBT PEOPLE</p>

            <arrow-container class="arrow-container"  spark-scroll-animate="{
                                'bottomCenter': { opacity: '1' },
                                'bottomTop': { opacity: '0' }
                            }" ng-click="scroll()"></arrow-container>

        </div>

    </section>

    <section class="intro" id="intro">

        <div class="container">

            <section class="heading">

                <h1>IT IS A CRIME TO BE GAY IN 76 COUNTRIES</h1>
                <h2>IN 0 COUNTRIES LGBT PEOPLE ARE TREATED EQUALLY</h2>

            </section>

            <section class="primary">

                <div class="body">

                    <p>All around the world, LGBT people are left outside society,
                        either caused by a direct set of laws dictated by the leading
                        powers or by structures withheld by it's citizens.
                        <br/><br/>
                        Gradually we see change, change that shift towards both the
                        positive and the negative side. By working together we can
                        dictate change in all societies, for all people regardless
                        of who they are and what they believe in.
                        <br/><br/>
                        In some countries leading powers are trying to make change
                        for the worse, with laws that makes LGBT-manifestations considered
                        as illegal propaganda, only if we stand united, raising our voices
                        against exclusion we can force the leading powers who go against
                        equality to change their mind.
                        <br/><br/>
                        This is a celebration to the people whom stood up for
                        each others rights in history, a source for inspiration.
                        <br/><br/>
                        This is for those who fought for a society where everyone could take place.
                    </p>

                </div>

                <div class="headline" ng-if="!device.mobile">

                    <div class="scroll-container" spark-scroll-animate="{
                                'topTop': { top: '100%', marginTop: primaryBodyHeadlineHeight },
                                'bottomBottom': { top: '0%', marginTop: '0px' }
                            }">

                        <primary-body-headline>{{ content.primaryBodyHeadline }}</primary-body-headline>

                    </div>

                </div>

                <div class="headline-mobile">

                    <h1>{{ content.primaryBodyHeadline }}</h1>

                </div>

            </section>

        </div>

    </section>

    <section class="people" id="people">

        <div class="heading">

            <h1>PEOPLE WHO TURNED THE LIGHTS ON IN THE PAST</h1>

        </div>

        <index-carousel></index-carousel>

    </section>

    <section class="events" id="events">

        <div class="heading">

            <h1>EVENTS OF IMPORTANCE</h1>

        </div>

        <event-view></event-view>

    </section>

    <section class="supporter" id="supporter">

        <div class="container">

            <h1>THE TIME HAS COME FOR EQUAL RIGHTS!</h1>
            <p>Human rights issues exist globally and only by working together can
                we bring an end to them all.
                <br/><br/>
                The intent of this website is to be a source of
                inspiration and and we hope it sparks you to be an advocate for change.
            </p>

            <h2>Will you question the ones who use their powers to abuse in your society?</h2>

            <h3>SUBSCRIBE TO OUR WEEKLY INSPIRATIONAL LETTER</h3>

            <div class="form">

                <input name="email" placeholder="email" type="text" /> <a href="#" ng-click="openModal({ heading: 'THANK YOU', body: 'You just subscribed to our weekly inspirational letter, each week we will send you a letter with some inspiration! <3' })">SUBSCRIBE</a>

            </div>

        </div>

    </section>

    <section class="footer">

        <p>A Hyper Island Creative Task 2015 by <a href="https://www.sampetterson.com">Sam Pettersson</a>.</p>

    </section>

</application-page>
