<nav ng-controller="menuController">
    <a href="#" class="button" ng-click="menu()">MENU <i class="fa" ng-class="{'fa-close': menuActive, 'fa-bars': !menuActive, 'hide': menuTransition, 'show': !menuTransition}"></i></a>
    <div class="menu" ng-class="{ 'hidden': !menuActive, 'show': menuActive, 'hide': menuTransition  }">

        <div class="container">

            <h2>STRIVE</h2>

            <ul>
                <li ng-click="menu()"><a href="/">HOME</a></li>
            </ul>

            <h2>ABOUT</h2>

            <ul>
                <li ng-click="menu()"><a href="/about/what">WHAT IS THIS</a></li>
                <li ng-click="menu()"><a href="/about/who">WHO MADE THIS</a></li>
                <li ng-click="menu()"><a href="/about/credits">CREDITS</a></li>
            </ul>

            <h2>SHARE</h2>

            <ul class="share">
                <li class="fb"><a href="https://www.facebook.com/sharer.php?u=https://strive.sampettersson.com&description=Strive Forwards - For equality." target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                <li class="twitter"><a href="https://twitter.com/share" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
            </ul>

        </div>

        <div class="darken"></div>

    </div>
</nav>