<div class="modal-container" ng-class="{hide: !active}" ng-click="hideModal($event)">

    <div class="modal-contents" ng-if="active" ng-class="{fadeOut: fadeOut}">

        <div class="modal">

            <div class="mobile-close"><a href="#" class="mobile-close-button">CLOSE <i class="fa fa-close"></i></a></div>

            <div class="image" ng-style="{'background': 'url(' + image + ')', 'background-size': 'cover'}" ng-if="image"></div>

            <h1 class="heading" ng-class="{'no-image': !image}">{{ heading }}</h1>
            <p class="body">{{ body }}</p>

        </div>

        <div class="close">

            <i class="fa fa-close"></i>

        </div>

        <div class="modal-bg"></div>

    </div>

</div>