<html ng-app="strive" ng-controller="applicationController" ng-class="{
    'mobile': device.mobile,
    'desktop': device.desktop,
    'ios': device.ios,
    'android': device.android
    }">
	<head>

		<title>Strive Forwards - For equality.</title>
		<meta charset="utf-8" />
        <meta name="theme-color" content="#F6014A" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <base href="/">
		<link rel="stylesheet" href="/client/assets/app.css" />

	</head>
    <body ng-class="{'disable-scroll': disableScroll}">
        <application-root class="application"></application-root>
        <script type="application/javascript" src="/client/build/app.js"></script>
    </body>
</html>