<html ng-app="strive" ng-controller="applicationController">
	<head>

		<title>Strive - For equality.</title>
		<meta charset="utf-8" />

        <base href="/">
		<link rel="stylesheet" href="/client/assets/app.css" />

	</head>
    <body>
        <application-root class="application"></application-root>
        <script type="application/javascript" src="/client/build/app.js"></script>
    </body>
</html>